<tr class="information">
  <td colspan="2">
    <table>
      <tr>
        <td>
          {{#each senderAddress}}
            {{this}}<br />
          {{/each}}
        </td>
        <td>
          {{#each recipientAddress}}
            {{this}}<br />
          {{/each}}
        </td>
      </tr>
    </table>
  </td>
</tr>