<tr class="top">
  <td colspan="2">
    <table>
      <tr>
        <td class="title">
          {{title}}
        </td>

        <td>
          Invoice #: {{invoiceNo}}<br>
          Created: {{dateCreated}}<br>
          Due: {{dateDue}}
        </td>
      </tr>
    </table>
  </td>
</tr>