<tr class="heading">
  <td>Item</td>
  <td>Price</td>
</tr>
{{#each items}}
  <tr class="item">
    <td>{{this.key}}</td>
    <td>{{this.cost}}</td>
  </tr>
{{/each}}
<tr class="total">
  <td></td>
  <td>Total: {{this.total}}</td>
</tr>