<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  {{> style.hbs }}
</head>

<body>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      {{> heading.hbs }}
      {{> addresses.hbs }}
      {{> table.hbs }}
    </table>
  </div>
</body>
</html>
